{% extends 'layout.twig' %}


{% block title %}
	{% spaceless %}
	{% if action == 'home' %}
		Blog
	{% else %}
		Blog archives for {{ date }}
	{% endif %}
	{% endspaceless %}
{% endblock %}

{%  block meta %}
	{%  for m in meta %}
		<meta name="{{ m.name }}" content="{{ m.content }}">
	{%  endfor %}
{%  endblock %}

{% block content %}

<nav class="breadcrumb">
	<ul>
		<li>
			<a href="/">Home</a>
		</li>
		<li>
			<a href="/blog">Blog</a>
		</li>
		{% set pCrumb = '/' %}
		{% for crumb in breadcrumb %}
		<li>
			<a href="/blog{{ pCrumb }}{{ crumb }}">{{ crumb }}</a>
		</li>
			{% set pCrumb = pCrumb ~ crumb ~ '/' %}
		{% endfor %}
	</ul>
</nav>

<div class="archives">
	{% for post in posts %}
		<article>
			<h1 class="post-title">
				<a href="{{ post.permalink }}">
					{{ post.head.title }}
				</a>
			</h1>
			{{ post.body.asXML()|replace({'<body>':'','</body>':''})|raw }}
		</article>
	{% endfor %}
	{% set prefix = '?page=' %}
	{% include '_pageNav.twig' %}
</div>

{% endblock %}