<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
	<head>
		<title>
			{{ app.siteName }}
			{% if block('title') and not isHome %} : {% endif %}
			{%  block title %}{% endblock %}
		</title>
		<link rel="alternate" type="application/rss+xml" title="{{ app.siteName }}" href="{{ app.baseUrl }}/rss">
		<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
		<link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png" />
		<link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png" />
		<link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png" />
		<link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png" />
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		{% block meta %}
		<meta name="keywords" content="{{ app.defaultKeywords }}">
		{% endblock %}
		<link rel="stylesheet" href="/css/styles.css" media="all">
		<script src="/js/site-min.js"></script>
	</head>
	<body>
		<header>
			<h1>
				<a href="/index.html">
					{{ app.siteName }}
				</a>
			</h1>
			<nav>
				<ul>
					<li>
						<a href="/">Home</a>
					</li>
					<li>
						<a href="/index_290.html">Index</a>
					</li>
					<li>
						<a href="/about.html">About</a>
					</li>
					<li>
						<a href="/blog/">Blog</a>
					</li>
					<li>
						<a href="/contact">Contact</a>
					</li>
					<li>
						<a href="https://twitter.com/ArchiesRecipes" target="_blank">
							Twitter
							<i class="icon-twitter"></i>
						</a>
					</li>
					<li>
						<a href="/rss">
							RSS
							<i class="icon-rss"></i>
						</a>
					</li>
				</ul>
			</nav>
		</header>
		{% block content %}{% endblock %}
		<footer>
			<a href="http://abouthalf.com" target="_blank">Brought to you by Abouthalf.com</a>
		</footer>
		{% if not app.debug %}
		<script type="text/javascript">

			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-37327675-1']);
			_gaq.push(['_trackPageview']);

			(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();

		</script>
		{% endif %}
	</body>
</html>