{% extends 'layout.twig' %}

{% block title %}{{ title }}{% endblock %}

{%  block meta %}
	{%  for m in meta %}
	<meta name="{{ m.name }}" content="{{ m.content }}">
	{%  endfor %}
{%  endblock %}



{% block content %}
	{% if image %}
	<aside data-role="modal">
		<a href="images/{{ image }}" data-role="opener">
			<img src="images/{{ image }}" alt="{{ title }}">
		</a>
		<a href="#" class="closer" data-role="closer">
			<i class="icon-remove-sign"></i>
			close
		</a>
	</aside>
	{% endif %}
	<div class="page">
		<nav class="breadcrumb">
			<ul>
				<li><a href="/">Home</a></li>
				{% if current != 'index.html' %}
					<li><a href="{{ permalink }}">{{ title }}</a></li>
				{% endif %}
			</ul>
		</nav>
		<article>
			{{ body|replace({'<body>':'','</body>':''})|raw }}
		</article>
		{% include '_pageNav.twig' %}
	</div>
{% endblock %}