{% extends 'layout.twig' %}

{% block title %}{{ page.head.title }}{% endblock %}

{%  block meta %}
	{%  for m in meta %}
	<meta name="{{ m.name }}" content="{{ m.content }}">
	{%  endfor %}
{%  endblock %}



{% block content %}
	{% if image %}
	<aside>
		<a href="images/{{ image }}">
			<img src="images/{{ image }}" alt="{{ page.head.title }}">
		</a>
	</aside>
	{% endif %}
	<div class="page">
		<nav class="breadcrumb">
			<ul>
				<li><a href="/">Home</a></li>
				{% if current != 'index.html' %}
					<li><a href="{{ permalink }}">{{ page.head.title }}</a></li>
				{% endif %}
			</ul>
		</nav>
		<article>
			{{ page.body.asXML()|replace({'<body>':'','</body>':''})|raw }}
		</article>
		{% include '_pageNav.twig' %}
	</div>
{% endblock %}